.loginParentDiv {
  border: 1px solid black;
  width: max-content;
  padding: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  text-align: center; /* Center align the content */
}

.loginParentDiv img {
  display: block;
  margin: 0 auto 30px; /* Center the image horizontally and add space below */
}

.loginParentDiv .input {
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  font-size: 16px;
}

.loginParentDiv label {
  text-align: left; /* Align text labels to the left */
  display: block; /* Ensure labels are displayed as blocks */
}

.loginParentDiv button {
  width: 100%;
  height: 54px;
  background-color: #002f34;
  color: whitesmoke;
  font-weight: 900;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
}

.loginParentDiv button:hover {
  background-color: white;
  color: #002f34;
  border: 2px solid #002f34;
}

.loginParentDiv a {
  display: flex;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  color: #002f34;
  font-weight: bold;
  font-size: 18px;
}

.loginParentDiv form {
  padding: 30px;
}
